
//@import "normalize-scss/sass/normalize/import-now";
@import "Skeleton-Sass/scss/skeleton";

.app > div {
  //background-color: green;
  @extend .row;
  @extend .columns;
}

.left-panel {
  @extend .four;
  @extend .columns;
}

.right-panel {
  @extend .eight;
  @extend .columns;
}

.splom-view {
  display: table;
  
  div.splom.row {
    display: table-row;
  }
  
  div.splom.subplot {
    display: table-cell;
  }

  div.dims {
    display: table-row;
  }

  label.dim-label {
    display: table-cell;
    vertical-align: middle;
  }
}

.range-slider {
  @extend .row;

  input {
    @extend .eight;
    @extend .columns;
  }

  label {
    display: inline;

    &:nth-of-type(1) {
      @extend .two;
      @extend .columns;
    }
    &:nth-of-type(2) {
      @extend .two;
      @extend .columns;
    }
    &:nth-of-type(3) {
      @extend .twelve;
      @extend .columns;
    }
  }
}

.data-upload {
  border: 1px solid grey;
}

