
//@import "normalize-scss/sass/normalize/import-now";
@import "Skeleton-Sass/scss/skeleton";

.app > div {
  //background-color: green;
  @extend .row;
  @extend .columns;
}

.left-panel {
  @extend .four;
  @extend .columns;
}

.right-panel {
  @extend .eight;
  @extend .columns;
}

.splom-view {
  display: table;
  
  div.splom.row {
    display: table-row;
  }
  
  div.splom.subplot {
    display: table-cell;
  }

  div.dims {
    display: table-row;
  }

  label.dim-label {
    display: table-cell;
    vertical-align: middle;
  }
}

.data-upload {
  border: 1px solid grey;
}

