LIBDIR = rslice2d/target/release
STATLIB = $(LIBDIR)/librslice2d.a
PKG_LIBS = -L$(LIBDIR) -lrslice2d -lresolv

all: clean

$(SHLIB): $(STATLIB)

$(STATLIB):
	${cargo_cmd}

clean:
	rm -Rf $(SHLIB) $(STATLIB) $(OBJECTS) rslice2d/target

